<!-- <p>quote-detail works!</p> -->
<!-- <p>
  {{quote.description}}
</p> -->
<!-- <p>This quote will be complete in {{quote.completeDate|dateCount}} days</p> -->
<!-- <p>This quote was written by {{quote.author}}</p>
<button (click)= 'quoteDelete(true)'>Delete Quote</button> -->

<p>Author: {{quote.author}}</p>
<p><span (click)='addVote(true)'><i class="fas fa-thumbs-up fa-2x mr-3 text-primary"></i></span>
<span class="mr-3 " >{{quote.upvote}}</span>
<span (click)='addDown(true)'><i class="fas fa-thumbs-down fa-2x mr-3 text-primary"></i></span>
<span class="mr-3 ">{{quote.downvote}}</span>
</p>
<div class="form-group">
    <button class="btn btn-success" (click)= 'quoteDelete(true)'>Delete Quote</button>
</div>
